<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="/home" slot="start"></ion-back-button>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-grid>
  <ion-row size="3">
    <ion-col>
      <ion-img [src]='item.foto'></ion-img>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>{{ item.merek }} {{ item.model }}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Rp. {{ item.harga }}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col>Tersedia: {{ item.stok }}</ion-col>
  </ion-row>
  <ion-row *ngIf="item.jenis != 'gpu'">
    <ion-col><ion-label>Deskripsi Produk</ion-label></ion-col>
  </ion-row>
  <ion-row *ngIf="item.jenis == 'cpu'">
    <ion-col>Base Clock Speed: {{ item.base }} GHz</ion-col>
    <ion-col>Boost Clock Speed: {{ item.boost }} GHz</ion-col>
  </ion-row>
  <ion-row *ngIf="item.jenis == 'cpu'">
    <ion-col>Core amount: {{ item.core }}</ion-col>
    <ion-col>Thread amount: {{ item.thread }}</ion-col>
  </ion-row>

  <ion-row *ngIf="item.jenis == 'ram'">
    <ion-col>Speed: {{ item.speed }} Mhz</ion-col>
    <ion-col>Size: {{ item.ukuran }} cm</ion-col>
  </ion-row>

  <ion-row *ngIf="item.jenis == 'motherboard'">
    <ion-col>Chipset: {{ item.chipset }} Mhz</ion-col>
    <ion-col>Untuk Prosesor: {{ item.targetprocessor }}</ion-col>
  </ion-row>
</ion-grid>
</ion-content>
