<ion-header>
  <ion-toolbar>
    <ion-back-button defaultHref="/home" slot="start"></ion-back-button>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-menu side="start" menuId="aboutMenu">
  <ion-content>
  <ion-list>
    <ion-menu-toggle menu="itemMenu">
      <ion-item lines="none" [routerLink]="['../home']">
        <ion-label>Home</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item lines="none" [routerLink]="['../admin']">
        <ion-label>Admin</ion-label>
      </ion-item>
    </ion-menu-toggle>
    <ion-menu-toggle>
      <ion-item lines="none" [routerLink]="about">
        <ion-label>About</ion-label>
      </ion-item>
    </ion-menu-toggle>
  </ion-list>
  </ion-content>
</ion-menu> -->


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col offset="4" size="12">
        <ion-avatar>
          <ion-img [src]="'https://cdn.discordapp.com/avatars/143303331496984576/ddd25ab87e961d6e13a5dad52c1d3c74.png'"></ion-img>
        </ion-avatar>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-align=self-center" size="12">
        <ion-label>Austyn Eugene</ion-label>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align=self-center">
      <ion-label>00000024705 - CL</ion-label>
    </ion-row>
    <ion-row class="ion-align=self-center">
      <ion-label>Dibantu oleh:</ion-label>
    </ion-row>
    <ion-row class="ion-align=self-center">
      <ion-label>Stack Overflow</ion-label>
    </ion-row>
    <ion-row class="ion-align=self-center">
      <ion-label>Official Ionic Documentation</ion-label>
    </ion-row>
    <ion-row class="ion-align=self-center">
      <ion-label>W3School</ion-label>
    </ion-row>
    <ion-row class="ion-align=self-center">
      <ion-label>Faa Cheese Server - Moral Support</ion-label>
    </ion-row>
    <ion-row class="ion-align=self-center">
      <ion-label>RyuZU - Wife</ion-label>
    </ion-row>
  </ion-grid>

</ion-content>
